* {
    font-family: 'font-family: ' Orbit', sans-serif;';
}

.mytitle {
    height: 400px;
    color: white;

    font-family: 'Diphylleia';

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('./img_film.png');
    background-position: center;
    background-size: cover;
}
.mytitle>header>h1{
    margin: 120px auto 50px auto;
    font-size: 50px;
}

.mytitle>.input-group {
    width: 400px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;

    margin: 80px auto 10px auto;
}

.myCards {
    width: 1200px;
    margin: 30px auto 0px auto;
}

.myPostingbox {
    width: 500px;
    margin: 30px auto 0px auto;

    padding: 20px;
    box-shadow: 0px 0px 3px 0px blue;
    border-radius: 5px;
}

.col {
    cursor : pointer;
}

footer{
    height:100px;
    text-align: center;
    
    color : white;
    margin: 30px auto 0px auto;

    background-image: url('./img_film.png');
    background-position: bottom;
    background-size: cover;
}

#parent {
    transform: translateX(-50%) translateY(-50%);
    border: 2px solid rgb(255, 255, 255);
    margin: 10px auto auto 100px;
    padding: 10px 10px 10px 13px;
    text-align: center;
}
  
#timeDisplay{
    display: inline-block;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    font-size: 30px;
}